body {
    background-color:floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

h1, h2 {
    color:rgb(192, 64, 0);
}

input {
    font-size: 12pt;
}

.recipe {
    max-width: 1200px;
}

.instruction {
    margin-top: 20px;
    font-weight: bold;
    font-size: 15pt;
}

.filter {
    margin: 10px;
    background-color:burlywood;
    font-size: 12pt;
    border-radius: 5px;
}

@media screen and (max-width: 1250px) {
    .recipe {
        max-width: 800px;
    }
}

@media screen and (max-width: 850px) {
    .recipe {
        max-width: 500px;
    }
} 

@media screen and (max-width: 550px) {
    .recipe {
        max-width: 300px;
    }
} 

@media screen and (max-width: 350px) {
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 15pt;
    }
    .recipe {
        max-width: 200px;
    }
    
}