body {
    background-color:floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

h1, h2 {
    color:rgb(192, 64, 0);
}

.recipe {
    max-width: 1200px;
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 15pt;
    }
    h3 {
        font-size: 10pt;
    }
    .recipe {
        max-width: 150px;
    }
    
}